@{
    ViewBag.Title = "Login Details:";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<h2>Secure Login</h2>
<form action="/Login/Login" method="post" class="userform">
<div>
    @if (ViewBag.ValidationError != null)
    { 
        <div class="validationerror">@ViewBag.ValidationError</div>
    }
    <fieldset>
        @Html.Label("email", "Email:")
        @Html.TextBox("email", "", new { @class = "input", maxlength = 100, autocomplete = "off", width = "250" })
    </fieldset>
    <fieldset>
        @Html.Label("password", "Password:")
        @Html.Password("password", "", new { @class = "input", maxlength = 100, autocomplete = "off", width = "250px" })
    </fieldset>
    <fieldset>
        &nbsp;
    </fieldset>
    <fieldset>
        &nbsp;
    </fieldset>
    <fieldset>
        <input type="submit" value="Login" class="submit" />
    </fieldset>
</div>
</form>
