@using HotelManagement.DTO;

@model HotelDTO
@{
    ViewBag.Title = "Add New Hotel";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<h2>Add New Hotel</h2>

<form action="/Hotel/Create" method="post" class="userform">

<div>
    @if (ViewBag.ValidationError != null)
    { 
        <div class="validationerror">An error occurred while saving Hotel - @ViewBag.ValidationError</div>
    }
    <fieldset>
        @Html.LabelFor(h => h.Name)
        @Html.EditorFor(h => h.Name)
    </fieldset>
    <fieldset>        
        @Html.LabelFor(h => h.HotelChain)
        @Html.DropDownListFor(h => h.HotelChain.Id, (IEnumerable<SelectListItem>)((SelectList)ViewBag.HotelChainList).ToList())
    </fieldset>
    <fieldset>
        @Html.LabelFor(h => h.InOperation)
        @Html.EditorFor(h => h.InOperation)
    </fieldset>
    <fieldset>
        <input type="submit" value="Add" />
    </fieldset>
</div>

</form>
