@using HotelManagement.DTO;

@model IEnumerable<HotelDTO>

@{
    ViewBag.Title = "Hotels";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            Hotel Name
        </th>
        <th>
            Click to edit
        </th>
    </tr>
    @foreach (HotelDTO hotel in Model)
    {   
        <tr id="tr@(hotel.Id)">
            <td>
                <div>@hotel.Name</div>
            </td>
            <td>
                <div>@Html.ActionLink("Edit", "Edit", new { id = hotel.Id })</div>
            </td>
            <td>
                <form id='form(@hotel.Id)' action="#" method="post" class="userform" >
                    @Html.Hidden("id", hotel.Id)
                    <input type="submit" value="Delete" class="linkbutton" id="del(@hotel.Id)" /> 
                </form>
            </td>
        </tr>
    }
</table>

<div>@Html.ActionLink("Add New Hotel", "Add")</div>

<script type="text/javascript">

    function populateBookingMonths()
    {
        $.ajaxSetup({ "async": false });
        $.getJSON('/Booking/BookingMonths', function (data)
        {
            var options = $(".select2");
            $.each(data, function ()
            {
                options.append($("<option />").val(this).text(this));
            });
        });
    }

    function populateArrDays()
    {
        var selectedVal;
        $('#arrMonth option:selected').each(function ()
        {
            selectedVal = $(this).text();
        });

        $('#arrDay option').remove();

        $.getJSON('/Booking/BookingDays', { month: selectedVal }, function (data)
        {
            var options = $("#arrDay");
            $.each(data, function ()
            {
                options.append($("<option />").val(this).text(this));
            });
        });
    }

    $(function ()
    {
        $('.userform input').click(function (event)
        {
            var hotelId = event.target.id.replace('del(', '').replace(')', '');
            var hotel = { Id : hotelId };
            event.preventDefault();

            if (hotelId)
            {
                $.post("Hotel/Delete", $.param(hotel), function (data)
                {
                    $('#tr' + hotelId).remove();
                });                
            }
        });

        populateBookingMonths();
    });

</script>

