@using HotelManagement.DTO;

@model RoomDTO

@{
    ViewBag.Title = "Add New Room";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<h2>
    Add New Room</h2>
<form action="/Room/Create" method="post" class="userform">
<div>
    @if (ViewBag.ValidationError != null)
    { 
        <div class="validationerror">
            An error occurred while saving Hotel - @ViewBag.ValidationError</div>
    }
    <fieldset>
        @Html.LabelFor(r => r.Name)
        @Html.EditorFor(r => r.Name)
    </fieldset>
    <fieldset>
        @Html.LabelFor(r => r.RoomType)
        @Html.DropDownListFor(r => r.RoomType.Id, (IEnumerable<SelectListItem>)((SelectList)ViewBag.RoomTypeList).ToList())
    </fieldset>
    <fieldset>
        @Html.LabelFor(r => r.Hotel)
        @Html.DropDownListFor(r => r.Hotel.Id, (IEnumerable<SelectListItem>)((SelectList)ViewBag.HotelList).ToList())
    </fieldset>
    <fieldset>
        <input type="submit" value="Add" />
    </fieldset>
</div>
</form>
