@using HotelManagement.DTO;

@model RoomDTO

@{
    ViewBag.Title = "Room Detail";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<form class="userform">
    <h2>Room Detail for @Model.Name</h2>
    <fieldset>
        <div>
            <fieldset>
                @Html.LabelFor(r => r.Id): @Html.Label(@Model.Id.ToString())
            </fieldset>            
        </div>
    
        <div>
            @Html.LabelFor(r => r.Name): @Html.Label(@Model.Name)
        </div>
        <div>
            @Html.LabelFor(r => r.RoomType.Name): @Html.Label(@Model.RoomType.Name)
        </div>
    </fieldset>
</form>
